@using Shop.Data.Models
@model IEnumerable<Product>

@{
	Layout = "_Layout";
}

<div class="blockHeading">
	<h1>Товары</h1>
	<div class="comboboxes">
		<select id="comboSort" onchange="SortAndFilter()">
			<option value="none" selected>(нет)</option>
			<option value="PriceUp">По возрастанию цены</option>
			<option value="PriceDown">По убыванию цены</option>
		</select>
		<select id="comboFilter" onchange="SortAndFilter()">
			<option selected>Все</option>
			@{
				foreach (var category in ViewBag.Categories)
				{
				<option value=@category.Id>@category.Name</option>
				}
			}
		</select>
	</div>
</div>
<section>
	<ul id="ListProducts">
	</ul>
</section>
@*<div id="popupCountry" class="popup hidden">
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				<div class="popup_title">Выберите город</div>
				<ul>
					<li><a href=# class="inputCountry" data-country="Москва">Москва</a></li>
					<li><a href=# class="inputCountry" data-country="Пермь">Пермь</a></li>
					<li><a href=# class="inputCountry" data-country="Екатеринбург">Екатеринбург</a></li>
				</ul>
			</div>
		</div>
	</div>*@
